body{
    text-align: center;
    position: relative;
}

.title{
    align-items: center;
    width: 100%;
}

h3{
    position: absolute;
    left: 0.75rem;
    top: -1.75rem;
    font-size: 1.25rem;
}

.btn{
    height: 200px;
    width: 200px;
    margin: 2rem;
    border: 10px solid black;
    border-radius: 20%;
}

.btn-container{
    display: flex;
    justify-content: center;
}

.red{
    background-color: #d95980;
}

.yellow{
    background-color: #f99b45;
}

.green{
    background-color: #63aac0;
}

.purple{
    background-color: #819ff9;
}

.flash{
    background-color: white;
}

.userFlash{
    background-color: rgb(13, 145, 51);
}